{# Dans le fichier: templates/profil/profil.twig #}
{% extends 'layout/base.twig' %}

{% block title %}
 Profil
{% endblock %}

{% block body %}
  <h1>Profil de {{ app.user.email }}</h1>
 
{% endblock %}
